*{
    margin: 0;
    text-align: center;
    font-size: xx-large;
    background: #a8adb4;
}
h2{
    padding-left: 900px;
    color:  #190c7d;
}
a{
    padding-left: 900px;
    color: #190c7d;
}
table{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td, th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
   
    